// COLORS
$primary-color: #ff0099;
$secondary-color: #493240;

$dark-mode-light-pink: #ffe0f3;
$dark-mode-pink: #80004d;

$white-color: #fff;

$dark-gray: #282633;

$dark-blue: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
